html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Rubik', 'Arial', 'Calibri';
}

/* Шапка сайта */
header {
    width: 100%;
    background-color: #0A87CF;
    border-bottom: 1px solid rgb(11, 135, 207);
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}


#logo{
    margin-right: 40px;
}

#logo img{
    transition: all .5s;
}

#logo img:hover{
    height: 85px;
}

#menu{
    display: flex;
    padding: 0;
    margin: 0;
}

.li1{
    background-color: #0A87CF;
    width: max-content;
    padding-right: 30px;
    height: 80px;
    align-items: center;
    display: flex;
    list-style: none;
    position: relative;
    z-index: 2;
}

.li2{
    background-color: #0A87CF;
    width: 280px;
    height: 100%;
    list-style: none;
    position: relative;
    z-index: 2;
}

.li3{
    background-color: #0A87CF;
    width: 200px;
    height: 100%;
    list-style: none;
    position: relative;
    z-index: 2;
}

#menu a{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #fcfcfc;
    text-decoration: none;
    display: block;
    padding-left: 10px;
    text-align: justify;
    height: 40px;
    line-height: 40px;
    transition: all .5s;
}

#entrance{
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #fcfcfc;
    display: block;
    text-align: justify;
    transition: 0.5s;
    padding-left: 10px;
}

#entrance a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #fcfcfc;
    transition: 0.5s;
}

#entrance a{
    padding: 0;
}

#menu a:hover, #entrance a:hover{
    font-size: 23px;
}

#menu ul{
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding: 0;
    z-index: 2;
}

#menu li:hover ul{
    display: block;
}

/* Тело сайта и подвал*/
section{
    margin-top: 120px;
    height: max-content;
    padding: 0 10%;
}

.butt:hover{
    cursor: pointer;
}

#shape .butt{
    font-size: 18px;
    background: #0A87CF;
    border: 3px solid #0A87CF;
    color:#FFFFFF;
    width: 140px;
    padding: 0px 10px;
    border-radius: 15px;
}

.crumbs a{
    text-decoration: none;
    color: #acacac;
}

.crumbs a:hover{
    text-decoration: underline;
}

.crumbs{
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #acacac;
}

.Heading{
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    color: #0883C9;
    text-align: center;
    margin-top: 20px;
}

.contacts{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.contacts p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 30px;
}

footer{
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-between;
    padding: 1% 10%;
}

footer p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0;
}

footer a, .contacts a{
    color: black;
}

svg{
    margin-right: 15px;
}

.network{
    text-decoration: none;
}

#address{
    margin-top: 0;
}

#shape{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 8px solid #0A87CF;
    border-radius: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    width: 800px;
}

#shape p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    width: 60%;
    margin: 30px 0;
}

#shape > div {
    align-items: center;
    display: flex;
}

#shape div{
    width: max-content;
    display: flex;
    align-items: center;
}

#shape > div > div{
    flex-direction: column;
}

.textInput{
    font-size: 18px;
    height: 50px;
    width: 260px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 3px solid #0A87CF;
    border-radius: 30px;
    padding-left: 20px;
}

#alignmentShape{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#errName, #errPhone{
    display: block;
    font-size: 12px;
    color:red;
    margin-bottom: 10px;
    height: 2em;
    width: 240px;
}

/* Интерактивная карта */
.title{
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    text-align: center;
    margin: 0;
}
.tooltip {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 10px;
    z-index: 20;
}
.map{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    height: 600px;
    width: 900px;
}
.mapSvg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.area {
    opacity: 0;
    transition: fill 0.3s;
}
.area:hover{
    opacity: 0.2;
    fill: red;
}
#petrSer:hover{
    opacity: 0.2;
    fill: blue;
}

.network > svg{
    transition: all 0.8s ease 0s;
}
.network > svg:hover{
    transform: scale(1.2);
}